* {
  margin: 0;
  padding: 0;
}
.flexeo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonts {
  font-family: sans-serif;
  font-size: 18px;
  font-style: none;
  color: black;
}

.font_title {
  font-size: 23px;
  font-family: sans-serif;
  font-style: none;
  color: white ; 
}


/* Barra superior de navegacion */
.header {
  background-color: #77D353;
  height: 65px;
  color: white; 
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}

.navbar {
  justify-content: space-between;
  width: 85%;
}

.hover :hover {
  color: #377b1d;
}

.left_nav {
  gap: 20px;
}

.logo {
  height: 45px;
  width: 45px;
}

.nav_listL {
  gap: 20px;
}

.nav_listL a {
  text-decoration: none;
}

.nav_itemL {
  list-style: none;
}

.nav_listR {
  gap: 30px;
}

.nav_itemR {
  list-style: none;
  margin: 8px;
}

.nav_listR a {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 8px;
}

/* Seccion de ivan */

.imagen_titulo {
  margin-top:65px;
  height: 550px;
}

.imagen_titulo section {
  height: 100%;
}

.img_fondo {
  width: 100%;
  height: 550px;
  position: absolute;
}

.name {
  position: relative;
  z-index: 999;
  font-size: 100px;
  color: white;
}

/* Parte de texto del index */

.vision {
  margin-top: 50px;
  flex-direction: column;
}

.div_imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.div_imagen h2 {
  font-size: 35px;
  padding: 10px;
  margin-top: 30px;
}

.div_imagen p {
  font-size: 20px;
  text-align: justify;
  line-height: 33px;
}

.biodigestor {
  margin-top: 30px;
}

/* Footer que todas las pginas tienen  */

.footer_todos {
  background-color: #77D353;
  height: 55px;
}

.div_footer {
  width: 80%;
  justify-content: space-between;
}

.footer_todos p {
  font-size:20px;
  color: white;
}

.logo_escuela {
  height: 50px;
  width: 50px;
}

/* Inicio de sesion */

.login {
  margin-top: 200px;
  display: flex;
  justify-content: center;

}

.login_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #a9ff88;
  height: 400px;
  width: 350px;
}

.div_img_logo {
  margin-bottom: 50px;
}

.logo_login {
  height: 100px;
  width: 100px;
}

.inputs_form {
  margin-bottom: 15px;
}

.login_input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton_login {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

.login_link {
  font-size: 18px;
  color: #444;
  display: block;
  margin-top: 12px;
}     

/* seccion de registro */




/* seccion de productos */

.products {
  justify-content: center;
  padding: 0 30px 30px 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
  grid-gap: 20px 40px;
  margin-top: 90px;
  margin-bottom: 500px;
}

.items {
  justify-items: center;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
  transition: .2s ease-in-out;
}

.items img {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.botonCard {
  cursor: pointer;
  margin: 8px;
  width:70%;
  height: 22px;
}

/* seccion de hary  */

.main_contacto {
  flex-direction: column;
}

.titleC {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 999;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_forms {
  width: 100%;
  margin-top: 100px;
}

.info_forms {
  margin-top: 50px;
  text-align: center;
  flex-direction: column;
}

.texto_forms {
  width: 90%;
  font-size: 23px;
}
.img_forms {
  padding: 50px;
  width: 250px;
  height: 250px;
}

.forms {
  width: 50%;
  height: 500px; 
}

form {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  background-color: green;
  padding: 20px;
}

.input_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text_area {
  resize: none;
  height: 100px;
}

.label {
  color: whitesmoke;
  font-size: 25px;
}

.a_enviar {
  margin-top: 20px;
}

.boton_enviar {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #77d353;
  border-radius: 5px;
  border: none;
  border-color: white;
  color: white;
  width: 200px;
  height: 45px;
  cursor: pointer;
  text-decoration: none;
}

.texto_enviar {
  color: white;
  padding-top: 10px;
}

#message p {
  color: black;
  align-items: center;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  padding: 80px 60px 0 60px;
  text-align: center;
}

.logoimg1 {
  height: 50px;
  width: 50px;
  align-items: center;
  margin-right: 10px;
  /* margin-bottom: 20px; */
}

.info {
  color: rgb(53, 108, 67);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  position: relative;
  /* padding-top: 20px; */
}

.logos1 {
  margin-bottom: 15px;
}

.message {
  margin-bottom: 40px;
}


/* seccion de pipe */

/* .info-section  */

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  gap: 15%;
  margin-top: 40px;
}

.imagen {
  width: 100%;
  height: 100%;
}

.info_nosotros {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.info_nosotros h1 {
  padding: 15px;
  font-size: 40px;
}

.info_nosotros p {
  text-align: justify;
  font-size: 22px;
  padding: 5px;
  line-height: 32px;
}

.info_nosotros img {
  margin-top: 30px;
}



.vidbi {
  text-align: center;
  margin: 2px;
  /* padding: auto; */
  background-color: #f8f8f8;
  height: auto; 
}

.vidbi {
  width: 100%; 
  max-width: auto; 
  height: auto; 
  padding: 30px 0;
}

 /* Estilos generales para el footer */
 /* footer {
  padding: 20px;
  background-color: #f4f4f4;
} */

.info-section .info-container {
  display: flex;
  justify-content: space-between;
}

.team-section {
  text-align: center;
  padding: 40px 0;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.team-member {
  text-align: center;
}

.team-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.vidbi {
  /* margin-top: 20px; */
  text-align: center;
}
.team-member p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  
}  



/* formulario pop up */

.popUp {
  align-self: center;
  height: 200px;
  width: 100%;
  margin-top: 100px;
}